.page {
  background-color: #2a2c2f;
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media screen and (max-width: 760px) {
  .page {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
}
