.places {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 60px 148px;
}

.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 760px) {
  .places {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    padding: 24px 16px;
  }
}
